<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include("./partials/linkcss.ejs")%>

    
    <link rel="stylesheet" href="../../css/home.css">
    <title>Home</title>
</head>

<body>
    <div class="containerMain">
        <h3>Welcome to the online store</h3>
        <div class="btnContainer">
            <button class="btn btn-primary" onclick=" location.href='/api/user/login'">Login</button>
            <button  class=" btn btn-success" onclick="location.href='/api/user/register'">Register</button>
        </div>


    </div>
    <%-include("./partials/linkjs.ejs")%>
    <script src="index.js"></script>
</body>

</html>