<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <h3>Welcome to login</h3>

    <div>
        <h2>Login </h2>
        <form action="/api/user/login" method="post">
            <input type="email" name="email" id="email">
            <input type="password" name="password" id="password">
            <input type="submit" value="Login">
        </form>
        <button onclick="location.href='/api/user/register'"> Register </button>
    </div>


</body>

</html>