<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include("./partials/linkcss.ejs")%>
    <title>Logout</title>
</head>

<body>
    <div class="alert alert-success" role="alert">
        <h2>Hasta luego <%=user%></h2>
        <button class="btn btn-success" onclick="location.href='/'"> Volver al Inicio</button>
    </div>

    <%-include("./partials/linkjs.ejs")%>
</body>

</html>